@CHARSET "UTF-8";

header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}
section {
    width:350px;
    float:left;
    padding:10px; 
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
ul {
	list-style-type: none;
	margin-top: 15%;
	padding: 0;
	background-color: #f1f1f1;
	height: auto;
	overflow: hidden;
}
li a { 
    float: left;
    color: #000;
    padding: 8px;
    text-decoration: none;
    margin-left:5%;
}
li a.active {
    background-color: #4CAF50;
    color: white;
}
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
