@CHARSET "UTF-8";

header {
	text-align:left;
	background-color:#f1f1f1;
	height:auto;
	position:relative;
	padding-left:20%;
}
#title{
	font-size:72px;
}
twitter-timeline{
position:fixed;
right:0;
}
nav {
}
section {
}

ul {
	list-style-type: none;
	padding: 0;
	background-color: #f1f1f1;
	height: auto;
	overflow: hidden;
	top:0;
}
li a { 
    float: left;
    color: #000;
    padding: 8px;
    text-decoration: none;
    margin-left:5%;
}
li a.active {
    background-color: #4CAF50;
    color: white;
}
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
footer {

}
